{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Info Boxes -->

<div class="info">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Info Box -->
            <div class="col-lg-4 info_box_col">
                <div class="info_box">
                    <div class="info_image"><img src="{% static 'images/image1.jpg' %}" alt="" height="250" width="400"></div>
                    <div class="info_content">
                        <div class="info_title">Free Consultations</div>
                        <div class="info_text">
                            <ul style="list-style-type:disc;">
                                <li>Look and learn from the root causes and core issues so as to prevent additional compulsive behaviors and addictions</li>
                                <li>Courage to take the first step</li>
                                <li>Learn to live by choice rather than by chance</li>
                            </ul>
                            
                            
                            </div>
                        <!-- <div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div> -->
                    </div>
                </div>
            </div>

            <!-- Info Box -->
            <div class="col-lg-4 info_box_col">
                <div class="info_box">
                    <div class="info_image"><img src="{% static 'images/image2.jpg' %}" alt="" height="250" width="400"></div>
                    <div class="info_content">
                        <div class="info_title">General Tools</div>
                        <div class="info_text">
                            <ul style="list-style-type:disc;">
                                <li>Tools to promptly deal with the dis Ease of feelings, thoughts, expectations, situations, challenging relationships</li>
                                <li>Effective methods to navigate through career, relationships and stages of personal growth</li>
                            </ul>
                        </div>
                        <!-- <div class="button info_button"><a href="#"><span>read more</span><span>read more</span></a></div> -->
                    </div>
                </div>
            </div>

            <!-- Info Form -->
            <div class="col-lg-4 info_box_col">
                <div class="info_form_container">
                    <div class="info_form_title">Make an Appointment</div>
                    <form class="info_form" id="contact_form" name="contact_form" method="post">
                        
                            {% csrf_token %}
                        <input type="text" class="info_input" placeholder="Name" required="required" name="form_name" id="form_name" >
                        <input type="text" class="info_input" placeholder="Email" required="required" name="form_email" id="form_email" >
                        <input type="text" class="info_input" placeholder="Phone No" name="form_phone" id="form_phone" >
                        <input type="text" class="info_input" placeholder="Enter message" required="required" name="form_message" id="form_message" >
                        <input name="form_botcheck" class="form-control" type="hidden" value=""/>
                        
                        <button  id="sndmsg" name="sndmsg" type="submit" class="info_form_button">make an appointment</button>
                    </form>

                     <!-- Contact Form Validation-->
              <script>





                    $(document).ready(function(){
                        
                        
                           
                           
                       $("#sndmsg").click(function ()
                       {
                        if($('#contact_form').valid()!=true)
                        {
                          return
                        }
                        form_name=document.getElementById("form_name").value;
                        form_email=document.getElementById("form_email").value;
                        form_phone=document.getElementById("form_phone").value;
                        form_message=document.getElementById("form_message").value;
                        
                        $('#sndmsg').text('Please wait').attr('disabled', true);
                  
                       
                  
                          $.ajax({
                            
                                    type: "POST",
                                    url: "{% url 'home:make_appointment_home' %}",
                                    data: {
                                            
                                              'csrfmiddlewaretoken': '{{ csrf_token }}',
                                              'form_name':form_name,
                                              'form_email':form_email,
                                              'form_phone':form_phone,
                                              'form_message':form_message,
                                              
                                            },
                                    dataType: 'json',
                  
                                    success: function (data) {
                                    if (data) {
                                        
                                        if (data['my_response']=='OK'){
                                          document.getElementById("form_name").value='';
                                          document.getElementById("form_email").value='';
                                          document.getElementById("form_phone").value='';
                                          document.getElementById("form_message").value='';
                  
                                          $('#sndmsg').text('MAKE AN APPOINTMENT').attr('disabled', false);
                  
                  
                                        } else {
                  
                                            alert('Something went wrong!');
                                        }
                  
                  
                  
                  
                            }
                  
                            }
                  
                  
                  
                        });
                          
                       }
                       );
                       
                       
                       
                        
                       
                       
                          });
                         </script>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CTA -->

<div class="cta">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cta_1.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
                    <div class="cta_content text-xl-left text-center">
                        <div class="cta_title">Make an appointment with one of our professional Doctors.</div>
                        <div class="cta_subtitle">www.thepreventmedicine.com provides affordable, accessible and high-quality addiction treatment.
                            <span style="font-size: 18px"><b>&nbsp&nbspCall now 650-400-9868</b></span>
                        </div>
                    </div>
                    
                    <!-- <div class="button cta_button ml-xl-auto"><a href="#"><span><b>408-384-9717</b></span><span>call now</span></a></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="info">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Individualized Assessment, Diagnosis</div>
                <div class="section_subtitle"></div>
            </div>
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-6">
                        <div class="about_image"><img src="{% static 'images/sepideh_chart.png'%}" alt="" width="600" height="600"></div>
                    </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <br>
                        <p style="padding-right: 50px">From start to finish you’ll experience the compassion, devotion, and understanding of our team of qualified staff. We come from all backgrounds yet our story is the same: we have a personal journey that includes recovery and are here to share our experience, strength and hope as you move forward with your treatment. Each phase of our program combines group therapy, Individual therapy, family meetings, creative arts, exercise, life skills, and the 12-step model with the intention of helping you get and stay sober quickly, effectively, and for the long term.  Our therapeutic approach fouces on resolving issues at the root while keeping you present, calm, energized, and focused on what is both possible and beneficial for you at each moment. We look forward to helping you. Let’s get started. </p>

                        <p style="padding-right: 50px">From start to finish you’ll experience the compassion, devotion, and understanding of our team of qualified staff. We come from all backgrounds yet our story is the same: we have a personal journey that includes recovery and are here to share our experience, strength and hope as you move forward with your treatment. Each phase of our program combines group therapy, Individual therapy, family meetings, creative arts, exercise, life skills, and the 12-step model with the intention of helping you get and stay sober quickly, effectively, and for the long term.  Our therapeutic approach fouces on resolving issues at the root while keeping you present, calm, energized, and focused on what is both possible and beneficial for you at each moment. We look forward to helping you. Let’s get started. </p>
                    </div>
                </div>
                
        </div>
        

        
    </div>
</div>


<!-- FAQ & News -->

<div class="stuff">
		<div class="container">
			<div class="row">

				<!-- FAQ -->
				<div class="col-lg-7">
					<div class="faq">
						<div class="faq_title">Faq & Billing</div>
						<div class="faq_subtitle">read all about it</div>
						<div class="elements_accordions">
							<div class="accordions">

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center active"><div>Payment Options:</div></div>
									<div class="accordion_panel">
										<div>
											<p>We accept cash and all major credit cards.</p>
										</div>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Minor Patients:</div></div>
									<div class="accordion_panel">
										<div>
											<p>The adult / guardian accompanying minors are responsible for full payment of services rendered.</p>
										</div>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Insurance Billing:</div></div>
									<div class="accordion_panel">
										<div>
                                            <p>We will attempt to bill your insurance company. Please be mindful that not all insurance plans cover urgent care services and if so, you are responsible for the bill.</p>
                                            <p>Co Payments are due at the time of service. Patients and guarantors are financially responsible for any services provided and not covered by your insurance plan.</p>
                                            <p>It is your responsibility to know and understand your specific insurance plan and which benefits are covered.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Latest News -->
				<div class="col-lg-5">
					<div class="news">
						<div class="news_title">Latest Articles</div>
						<div class="news_subtitle">read all about it</div>
						<div class="news_container">

                            <!-- Latest News Post -->
                            {% for post in most_recent %}
							<div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="{{ post.thumbnail.url }}" alt="" width="73" height="70"></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.title }}</a></div>
									<div class="latest_info">
										<ul class="d-flex flex-row align-items-start justify-content-start">
											<li><a href="#">by {{ post.author.user.username }}</a></li>
											<li><a href="#">{{ post.timestamp |date }}</a></li>
										</ul>
									</div>
									<div class="latest_comments"><a href="#"><i class="fa fa-eye" ></i> {{ post.view_count }}</a></div>
								</div>
							</div>
                            {%endfor%}
							<!-- Latest News Post -->
							<!-- <div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="{% static 'images/latest_2.jpg' %}" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="news.html">A new way to see things in medicine</a></div>
									<div class="latest_info">
										<ul class="d-flex flex-row align-items-start justify-content-start">
											<li><a href="#">by Jane Smith</a></li>
											<li><a href="#">April 25, 2018</a></li>
										</ul>
									</div>
									<div class="latest_comments"><a href="#">2 Comments</a></div>
								</div>
							</div> -->

							<!-- Latest News Post -->
							<!-- <div class="latest d-flex flex-row align-items-start justify-content-start">
								<div><div class="latest_image"><img src="{% static 'images/latest_3.jpg' %}" alt=""></div></div>
								<div class="latest_content">
									<div class="latest_title"><a href="news.html">Why is Pharma industry so big?</a></div>
									<div class="latest_info">
										<ul class="d-flex flex-row align-items-start justify-content-start">
											<li><a href="#">by Jane Smith</a></li>
											<li><a href="#">April 25, 2018</a></li>
										</ul>
									</div>
									<div class="latest_comments"><a href="#">2 Comments</a></div>
								</div>
							</div> -->

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>



<script>
        $('#homemenu').css('text-decoration',  'underline')
</script>

{% endblock %}