{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="info">
    <div class="container">
        <div class="row row-eq-height">

<!-- Info Box -->
<div class="col-lg-4 info_box_col">
	<div class="info_box">
		<div class="info_image"><img src="{% static 'images/info_3.jpg'%}" alt="" height="250" width="400"></div>
		<div class="info_content">
			<div class="info_title">Move Forward.</div>
			<div class="info_text">Our team draws from the most advanced methods available to treat root causes of substance abuse and mental health issues. Many clients arrive at our facility after years of unsuccessful therapy and addiction treatment and report an immediate sense that something unique and powerful is available. Our approach combines cutting-edge techniques from the fields of neuroscience, psychology, pharmacology, traditional and alternative medicine, physiology, and the creative arts.  Our goal is not only to get you unstuck but to keep you that way, so you move forward with the life you desire. Our evidence-based treatment model, expert clinical team, and safe & comfortable environment help you learn how to live your life – free from addiction.</div>

		</div>
	</div>
</div>
           

<!-- Info Box -->
<div class="col-lg-4 info_box_col">
    <div class="info_box">
        <div class="info_image"><img src="{% static 'images/info_2.jpg' %}" alt="" height="250" width="400"></div>
        <div class="info_content">
            <div class="info_title">Get Unstuck.</div>
            <div class="info_text">The Tree House – our rustic and peaceful Residential Treatment Center– is a place for you to build a solid foundation of recovery and wellness in an atmosphere of learning and change. Nestled in the hills near downtown Los Gatos, the Tree House has 6 private or shared rooms where you can rest, repair and restore your mind, body, and soul. Residential activities are flexible and adaptable while providing the real-life tools and skills you need to live and thrive in recovery and beyond. Clients report a sense of peace and excitement to be finally moving forward and addressing the underlying causes of chronic issues. When it's time to get unstuck, call or email us to discuss how the Tree House can be your next best step towards long-term recovery.

            </div>

        </div>
    </div>
</div>
            
<!-- Info Box -->
<div class="col-lg-4 info_box_col">
    <div class="info_box">
        <div class="info_image"><img src="{% static 'images/info_1.jpg' %}" alt="" height="250" width="400"></div>
        <div class="info_content">
            <div class="info_title">We can help.</div>
            <div class="info_text">Our purpose and passion is to empower, encourage and liberate you from the struggle of substance abuse and mental health issues.    If you are motivated to get sober and learn the tools to stay that way, Los Gatos Recovery Center has a treatment program for you:
                <ul>
                    <li type="square">Detoxification</li>
                    <li type="square">Residential Treatment</li>
                    <li type="square">Partial Hospitalization Program </li>
                    <li type="square">Intensive Outpatient Program </li>
                    <li type="square">Individual & Group Therapy </li>
                    <li type="square">Family Counseling </li>
                    <li type="square">Trauma Resolution </li>
                    <li type="square">Sober Living Environment </li>
                    <li type="square">Alumni Maintenance Program </li>

                    <li><b>Day, Evening, and Weekend Programs Available!</b></div></li>

                </ul>
            <br>
        </div>
    </div>
</div>

        </div>
    </div>
</div>

<!-- CTA -->

<div class="cta">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cta_1.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
                    <div class="cta_content text-xl-left text-center">
                        <div class="cta_title">Make an appointment with one of our professional Doctors.</div>
                        <div class="cta_subtitle">Los Gatos Recovery Center provides affordable, accessible and high-quality addiction treatment.
                            <span style="font-size: 18px"><b>&nbsp&nbspCall now 408-384-9717</b></span>
                        </div>
                    </div>
                    
                    <!-- <div class="button cta_button ml-xl-auto"><a href="#"><span><b>408-384-9717</b></span><span>call now</span></a></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Our unique and effective programs</div>
                <div class="section_subtitle"></div>
            </div>
        </div>
        <div class="row icon_boxes_row">
            
            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/intake.svg' %}" alt=""></div>
                        <div class="icon_box_title">Intake and Medical Evaluation</div>
                    </div>
                    <div class="icon_box_text">Meet with us and share your story. We will listen. We will ask questions. Together, we will come up with the <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/consultation.svg' %}" alt=""></div>
                        <div class="icon_box_title">Consultation</div>
                    </div>
                    <div class="icon_box_text">When you are sick and tired of being sick and tired and really ready to change, call us for a complimentary  <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/icon_3.svg' %}" alt=""></div>
                        <div class="icon_box_title">Detox</div>
                    </div>
                    <div class="icon_box_text">When mind, body and soul consistently endure the negative effects of drugs, alcohol, and emotional stress, <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a> </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/residental.svg' %}" alt=""></div>
                        <div class="icon_box_title">Residential</div>
                    </div>
                    <div class="icon_box_text">Once through the detox process you’ll remain as our guest at the Tree House while you continue the recovery <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a> </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/icon_5.svg' %}" alt=""></div>
                        <div class="icon_box_title">Partial Hospitalization</div>
                    </div>
                    <div class="icon_box_text">While at home or in transitional housing, you’ll spend the day in group and individual activities at the <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/icon_6.svg' %}" alt=""></div>
                        <div class="icon_box_title">Intensive Outpatient</div>
                    </div>
                    <div class="icon_box_text">As you integrate and become more engaged back at home and work, you’ll continue to connect with your <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/outpationet.svg' %}" alt=""></div>
                        <div class="icon_box_title">Outpatient</div>
                    </div>
                    <div class="icon_box_text">Fully immersed in your regular life, you’ll join a group or attend individual therapy a few times each week as <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/alumni.svg' %}" alt=""></div>
                        <div class="icon_box_title">Alumni</div>
                    </div>
                    <div class="icon_box_text">We will be thrilled to hear from you after discharge from our program, and we will encourage your  <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-xl-4 col-lg-6">
                <div class="icon_box">
                    <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="icon_box_icon"><img src="{% static 'images/leader.svg' %}" alt=""></div>
                        <div class="icon_box_title">Leadership Development</div>
                    </div>
                    <div class="icon_box_text">When you’ve been through the various phases of our program and demonstrated compliance as well as healthy <a href="{% url 'home:home'%}">&nbsp&nbspRead more...how it works</a></div>
                </div>
            </div>

        </div>
        
    </div>
</div>


<!-- Info Boxes -->

<div class="info">
    <div class="container">
            <div class="row">
                    <div class="col text-center">
                        <div class="section_title">Recovery is Possible</div>
                        <div class="section_subtitle"></div>
                    </div>
                </div><br><br>
        <div class="row row-eq-height">



            <!-- Info Box -->
            <div class="col-lg-4 info_box_col">
                <div class="info_box">
                    <div class="info_image"><img src="{% static 'images/progworks.jpg' %}" alt="" height="250" width="400"></div>
                    <div class="info_content">
                        <div class="info_title">Why Our Program Works</div>
                        <div class="info_text">Our team draws from the most advanced methods available to treat root causes of substance abuse and mental health issues. Many clients arrive at our facility after years of unsuccessful therapy and addiction treatment and report an immediate sense that something unique and powerful is available.

                        </div>
                
                    </div>
                </div>
            </div>

            
    <!-- Info Box -->
<div class="col-lg-4 info_box_col">
    <div class="info_box">
        <div class="info_image"><img src="{% static 'images/uniqe.jpg' %}" alt="" height="250" width="400"></div>
        <div class="info_content">
            <div class="info_title">Unique Therapy</div>
            <div class="info_text">This cutting edge treatment utilizes the best of what neuroscience recommends for resolving deeply embedded  reactivity.  You will experience pain-free, uplifting techniques designed to quickly and effectively rewrite core beliefs and unhook painful emotions from your past.  <br><br>   

            </div>
    
        </div>
    </div>
</div>		
    

<!-- Info Box -->
<div class="col-lg-4 info_box_col">
    <div class="info_box">
        <div class="info_image"><img src="{% static 'images/lifeskills.jpg' %}" alt="" height="250" width="400"></div>
        <div class="info_content">
            <div class="info_title">Life Skills</div>
            <div class="info_text">Life is demanding.  Getting sober can be challenging.  Staying sober is a skill!  We will teach you a variety of solution-focused, skill building techniques to help you navigate career, relationship and transitional life issues calmly and effectively.  12-Step option available.
<br>
<br>

            </div>
    
        </div>
    </div>
</div>



        </div>
    </div>
<br><br>
    <div class="container">
            <div class="row row-eq-height">



                <!-- Info Box -->
                <div class="col-lg-4 info_box_col">
                    <div class="info_box">
                        <div class="info_image"><img src="{% static 'images/alumni.jpg' %}" alt="" height="250" width="400"></div>
                        <div class="info_content">
                            <div class="info_title">Alumni Maintenence</div>
                            <div class="info_text">Congratulations to all who get and stay sober in this challenging world!  We welcome all alumni to attend groups and events (as long as there is an extra chair) to continue learning, growing, and giving back to others.  Join in, volunteer, make a difference.  You are part of our tribe.

                            </div>
                    
                        </div>
                    </div>
                </div>

                
        <!-- Info Box -->
<div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="{% static 'images/cost.jpg' %}" alt="" height="250" width="400"></div>
            <div class="info_content">
                <div class="info_title">What it all costs</div>
                <div class="info_text">We accept insurance and private pay.  Fees and payment options depend on many factors.  We will work with you as much as possible to ensure you can get the help you need at a price you can afford.  Call to discuss which program and financial option works best for you.    <br>   

                </div>
        
            </div>
        </div>
    </div>		
        

<!-- Info Box -->
<div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="{% static 'images/customplan.jpg' %}" alt="" height="250" width="400"></div>
            <div class="info_content">
                <div class="info_title">Custom Plan</div>
                <div class="info_text">One size does not fit all:
                        We create unique, individualized treatment programs based on the patient’s specific needs. Our 24/7
                        medically-supervised detoxification ensures our patients detox both comfortably and safely.
<br>
  <br>

                </div>
        
            </div>
        </div>
    </div>

    

            </div>
        </div>
</div>


<script>
        $('#homemenu').css('text-decoration',  'underline')
</script>

{% endblock %}