{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Info Boxes -->

<div class="info">
        <div class="container">
                <div class="row">
                        <div class="col text-center">
                            <div class="section_title">Integrative Preventive Medicine</div>
                            <div class="section_subtitle"></div>
                        </div>
                    </div><br><br>
            <div class="row row-eq-height">
    
    
    
               <!-- Info Box -->
               <div class="col-lg-4 info_box_col">
                    <div class="info_box">
                        <div class="info_image"><img src="{% static 'images/alumni.jpg' %}" alt="" height="250" width="400"></div>
                        <div class="info_content">
                            <div class="info_title_par">Subacute Phase of Personalized Treatment lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                            <!-- <div class="info_text">Congratulations to all who get and stay sober in this challenging world!  We welcome all alumni to attend groups and events (as long as there is an extra chair) to continue learning, growing, and giving back to others.  Join in, volunteer, make a difference.  You are part of our tribe.

                            </div> -->
                    
                        </div>
                    </div>
                </div>
    
                
        <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="{% static 'images/uniqe.jpg' %}" alt="" height="250" width="400"></div>
            <div class="info_content">
                <div class="info_title_par">Tools to deal with the dis-ease of feelings, thoughts, expectations, situations and challenging
                        relationships</div>
                <!-- <div class="info_text">This cutting edge treatment utilizes the best of what neuroscience recommends for resolving deeply embedded  reactivity.  You will experience pain-free, uplifting techniques designed to quickly and effectively rewrite core beliefs and unhook painful emotions from your past.  <br><br>   
    
                </div> -->
        
            </div>
        </div>
    </div>		
        
    
    <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="{% static 'images/lifeskills.jpg' %}" alt="" height="250" width="400"></div>
            <div class="info_content">
                <div class="info_title_par">Look at the root cause of disease and core issues so as to prevent chronic diseases and unhealthy
                        behaviors</div>
                <!-- <div class="info_text">Life is demanding.  Getting sober can be challenging.  Staying sober is a skill!  We will teach you a variety of solution-focused, skill building techniques to help you navigate career, relationship and transitional life issues calmly and effectively.  12-Step option available.
    <br>
    <br>
    
                </div> -->
        
            </div>
        </div>
    </div>
    
    
    
            </div>
        </div>
    <br><br>
        <div class="container">
                <div class="row row-eq-height">
    
    
    <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <div class="info_image"><img src="{% static 'images/progworks.jpg' %}" alt="" height="250" width="400"></div>
                <div class="info_content">
                    <div class="info_title_par">Outcome Driven lorem ipsum lorem ipsum lorem ipsum lorem ipsum  lorem ipsum lorem ipsum</div>
                    <!-- <div class="info_text">Our team draws from the most advanced methods available to treat root causes of substance abuse and mental health issues. Many clients arrive at our facility after years of unsuccessful therapy and addiction treatment and report an immediate sense that something unique and powerful is available.

                    </div> -->
            
                </div>
            </div>
        </div>
                    
    
                    
            <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <div class="info_image"><img src="{% static 'images/cost.jpg' %}" alt="" height="250" width="400"></div>
                <div class="info_content">
                    <div class="info_title_par">Maintenance Phase of Personalized Treatment lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                    <!-- <div class="info_text">We accept insurance and private pay.  Fees and payment options depend on many factors.  We will work with you as much as possible to ensure you can get the help you need at a price you can afford.  Call to discuss which program and financial option works best for you.    <br>   
    
                    </div> -->
            
                </div>
            </div>
        </div>		
            
    
    <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <div class="info_image"><img src="{% static 'images/customplan.jpg' %}" alt="" height="250" width="400"></div>
                <div class="info_content">
                    <div class="info_title_par">Solution based lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                    <!-- <div class="info_text">One size does not fit all:
                            We create unique, individualized treatment programs based on the patient’s specific needs. Our 24/7
                            medically-supervised detoxification ensures our patients detox both comfortably and safely.
    <br>
      <br>
    
                    </div> -->
            
                </div>
            </div>
        </div>
    
        
                </div>
            </div>
            
    </div>

<!-- CTA -->

<div class="cta">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cta_1.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
                    <div class="cta_content text-xl-left text-center">
                        <div class="cta_title">Make an appointment with one of our professional Doctors.</div>
                        <div class="cta_subtitle">Los Gatos Recovery Center provides affordable, accessible and high-quality addiction treatment.
                            <span style="font-size: 18px"><b>&nbsp&nbspCall now 408-384-9717</b></span>
                        </div>
                    </div>
                    
                    <!-- <div class="button cta_button ml-xl-auto"><a href="#"><span><b>408-384-9717</b></span><span>call now</span></a></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->

<div class="info">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">Individualized Assessment, Diagnosis</div>
                <div class="section_subtitle"></div>
            </div>
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-6">
                        <div class="about_image"><img src="{% static 'images/sepideh_chart.png'%}" alt="" width="600" height="600"></div>
                    </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <br>
                        <p style="padding-right: 50px">From start to finish you’ll experience the compassion, devotion, and understanding of our team of qualified staff. We come from all backgrounds yet our story is the same: we have a personal journey that includes recovery and are here to share our experience, strength and hope as you move forward with your treatment. Each phase of our program combines group therapy, Individual therapy, family meetings, creative arts, exercise, life skills, and the 12-step model with the intention of helping you get and stay sober quickly, effectively, and for the long term.  Our therapeutic approach fouces on resolving issues at the root while keeping you present, calm, energized, and focused on what is both possible and beneficial for you at each moment. We look forward to helping you. Let’s get started. </p>

                        <p style="padding-right: 50px">From start to finish you’ll experience the compassion, devotion, and understanding of our team of qualified staff. We come from all backgrounds yet our story is the same: we have a personal journey that includes recovery and are here to share our experience, strength and hope as you move forward with your treatment. Each phase of our program combines group therapy, Individual therapy, family meetings, creative arts, exercise, life skills, and the 12-step model with the intention of helping you get and stay sober quickly, effectively, and for the long term.  Our therapeutic approach fouces on resolving issues at the root while keeping you present, calm, energized, and focused on what is both possible and beneficial for you at each moment. We look forward to helping you. Let’s get started. </p>
                    </div>
                </div>
                
        </div>
        

        
    </div>
</div>





<script>
        $('#homemenu').css('text-decoration',  'underline')
</script>

{% endblock %}