{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- About -->

<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">Services</div>
					
				</div>
			</div>
			<div class="row about_row row-eq-height">
			
				<div class="col-lg-8">
					<div class="about_text_2">
						<h3>Preventive Health Screening with techniques to effectively address the roots of chronic disease and inflammation:</h3>
						<p><ul style="font-size:1.5em">
							<li>- High Blood Pressure</li>
							<li>- Smoking</li>
							<li>- Poor Nutrition</li>
							<li>- Suboptimal Sleep</li>
							<li>- Sedentary Lifestyle</li>
							<li>- High Stress & High Cortisol States</li>
						</ul>
							</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_image"><img style="padding-top: 30px;" src="{% static 'images/why1.jpg' %}" alt="" width="300" height="300"></div>
				</div>
			</div>

			<div class="row about_row row-eq-height">
					<div class="col-lg-4">
							<div class="about_image"><img src="{% static 'images/why2.jpg' %}" alt="" width="400" height="250"></div>
						</div>
					<div class="col-lg-8">
						<div class="about_text_2">
							<h3>Personalized assessment of presenting diagnoses and a systematic integrative approach to obtaining optimal health.</h3>
							<p>
								<ul style="list-style-type:disc; font-size:1.5em">
									<li>Individualized work to help you MASTER your MIND, HEAL your BODY and BECOME AWARE of your TRIGGERING EMOTIONS.</li>
								<li>The highest quality of care to help with chronic disease prevention through lasting lifestyle changes in order to reduce chronic underlying inflammation.</li>
								</ul>
								</p>
						</div>
					</div>
					
				</div>

				<div class="row about_row row-eq-height">
			
						<div class="col-lg-8">
							<div class="about_text_2">
								<h3>Cognitive Health cultivation</h3>
								<p>
									<ul style="list-style-type:disc; font-size:1.5em">
										<li>Genetic testing through Genomind inc to better assess the efficacy of various medications and minimize adverse dug-drug interactions.</li>
										<li>Obtain laboratory tests pertinent to the patient’s well-being when warranted.</li>
										<li>Stress management strategies that work.</li>
										<li>Sleep architecture assessment and restructuring.</li>
										<li>Mindfulness techniques to help reduce Stress, Anxiety, Anger and Fear.</li>
										<li>Motivational and individualized Strategies and solutions to help with plan adherence and goal achievement.</li>
										<li>Bio individual and isomorphic approach to patient’s nutritional needs.</li>
										<li>Patient empowerment to achieve lasting mind, body, spirit equanimity.</li>
										<li>Implementation, integration and intervention for behavioral afflictions that interfere with one’s well-being including Use Disorders.</li>
										<li>Drug Testing and Screening for Use Disorders.</li>
										<li>Improved personal, social and work relationships.</li>
										<li >Safe provider of health to those suffering from abusive relationships and ongoing obstacles when dealing with trust related issues.</li>
										<li>Privacy, safety and stigma-free approach to help with an individual’s metamorphosis to achieve health revitalization.</li>
										
									</ul>
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="about_image"><img style="padding-top: 12px" src="{% static 'images/why3.jpg' %}" alt="" width="350" height="550"></div>
						</div>
					</div>

					<div class="row about_row row-eq-height">
							<div class="col-lg-4">
									<div class="about_image"><img style="padding-top:60px" src="{% static 'images/why4.jpg' %}" alt="" width="420" height="470"></div>
								</div>
							<div class="col-lg-8">
								<div class="about_text_2">
									<h3>We are here to serve</h3>
									<p>
										<ul style="list-style-type:disc; font-size:1.5em">
												<li>Detailed evaluation and assessment of the root causes of presenting symptoms.</li>
												<li>Appropriate laboratory test including ……… to exclude underlying nutritional deficiencies, toxic mineral load, glandular imbalances including the thyroid, parathyroid, adrenal and reproductive glands, cancer biomarkers detection.</li>
												<li>Assessment of Adverse Childhood Events (ACE’s) and relationship with presenting symptomatic disease</li>
												<li>Genetic testing through Mindsight/Genomind for better assessment of psychotropic medicine metabolizers to aid with efficacy and reduce side effects</li>
												<li>Psychosocial Nutritional Education with ongoing lasting personalized plans that honor a person’s heritage, genetic, cultural and age appropriate isoform.</li>
												
												
												
												
												
										</ul>
									</p>
								</div>
							</div>
						
						</div>


						

							<div class="row about_row row-eq-height">
			
									<div class="col-lg-7">
										<div class="about_text_2">
											<h3>Happiness is when we are useful to you</h3>
											<p>
													<ul style="list-style-type:disc; font-size:1.5em">
															
															<li>Mindfulness and Meditation guided Motivational Interviewing and personalized techniques to help with continued and sustainable habit change </li>
															<li>Individualized one on one work to integrate and implement lasting change by  fine tuning the delicate cycle of perfectionism, procrastination and motivation. </li>
															<li>Personalized approach to mitigating unhealthy habits and behaviors, addiction prevention and addiction treatment when warranted.</li>
															<li>Multi-Cultural / Heritage Special Population Approach.</li>
															<li>Special Population focus with women suffering from domestic violence, PTSD and Codependency.</li>
															<li>Social media, internet, gambling, and other compulsive behavior overuse detection and one individualized work on fine-tuning the delicate cycle of perfectionism, procrastination and motivation.
																</li>
															
													</ul>
												</p>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="about_image"><img  src="{% static 'images/why5.jpg' %}" alt="" width="400" height="300"></div>
									</div>
								</div>

						
			
		</div>
	</div>

    <script>
            $('#servicesmenu').css('text-decoration',  'underline')
    </script>

{% endblock %}