{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br><br><br><br><br><br>
<!-- Blog -->

<div class="news">
    <div class="container">
        <div class="row">
            
            <!-- News Posts -->
            <div class="col-lg-8">
               
                    {% for post_by_cat in post_list_by_cat %}
                    <!-- News Post -->
                    <!-- <div class="news_post"> -->
                        
                        <div class="news_post_content">
                            
                            <div class="news_post_title"><a href="{% url 'blog:post-detail' id=post_by_cat.post__id %}">{{ post_by_cat.post__title }}</a></div>
                            
                            <div class="news_post_info">
                                <ul class="d-flex flex-row align-items-center justify-content-start" style="font-weight:bold">
                                    <li> {{ post_by_cat.post__timestamp | date }}</li>
                                    
                                   
                                    <li>{{ post_by_cat.title }}</li>
                                   
                                </ul>
                            </div>
                           
                            
                        </div>
                    <!-- </div> -->
                    {% endfor%}
                   
                    


                

              
            </div>

            {% include 'blog/sidebar.html' with most_recent=most_recent category_count=category_count %}
        </div>
    </div>
</div>



<script>
    $('#blogmenu').css('text-decoration',  'underline')
</script>

{% endblock %}