{% load staticfiles %}
<footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/footer.jpg' %}" data-speed="0.8"></div>
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- Footer About -->
                <div class="col-lg-6 footer_col">
                    <div class="footer_about">
                        <div class="logo">
                            <a href="{% url 'home:home' %}">thepreventivemedicine.com</a>	
                        </div>
                        <div class="footer_about_text">If you've tried and failed, we applaud your efforts.  We've been there, and we are here to show you that RECOVERY IS POSSIBLE.</div>
                        <div class="footer_social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                            
                                <li><a href="https://www.facebook.com/thepreventivemedicine/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
Copyright &copy; All rights reserved | This webpage is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.tayqa.com" target="_blank">www.tayqa.com</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
                    </div>
                </div>
                
                <!-- Footer Contact -->
                <div class="col-lg-2 footer_col">
                    <!-- <div class="footer_contact">
                        <div class="footer_contact_title">Quick Contact</div>
                        <div class="footer_contact_form_container">
                            <form action="#" class="footer_contact_form" id="footer_contact_form">
                                <div class="d-flex flex-xl-row flex-column align-items-center justify-content-between">
                                    <input type="text" class="footer_contact_input" placeholder="Name" required="required">
                                    <input type="email" class="footer_contact_input" placeholder="E-mail" required="required">
                                    
                                </div>
                                <textarea class="footer_contact_input footer_contact_textarea" placeholder="Message" required="required"></textarea>
                                <button class="footer_contact_button">send message</button>
                            </form>
                        </div>
                    </div> -->
                </div>

                <!-- Footer Hours -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_hours">
                        <div class="footer_hours_title">Opening Hours</div>
                        <ul class="hours_list">
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Monday</div>
                                <div class="ml-auto">9:00 am – 6:00 pm</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>Tuesday</div>
                                    <div class="ml-auto">9:00 am – 6:00 pm</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>Wednesday</div>
                                    <div class="ml-auto">9:00 am – 6:00 pm</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>Thursday</div>
                                    <div class="ml-auto">9:00 am – 6:00 pm</div>
                                </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                            <div>Friday</div>
                                            <div class="ml-auto">9:00 am – 6:00 pm</div>
                                        </li>
                            
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Saturday</div>
                                <div class="ml-auto">By Appointment</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Sunday</div>
                                <div class="ml-auto">By Appointment</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <!-- <nav class="footer_nav">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <li ><a id="whymenu" href="{% url 'home:home' %}">WHY</a></li>
                                <li><a id="howmenu" href="{% url 'home:home' %}">HOW</a></li>
                                <li><a id="wheremenu" href="{% url 'home:home' %}">WHERE</a></li>
                                <li><a id="howmuchmenu" href="{% url 'home:home' %}">HOW MUCH</a></li>
                                <li><a id="contactmenu" href="{% url 'home:home' %}">CONTACT</a></li>
                            </ul>
                        </nav> -->
                        <div class="footer_links">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                    <li><b>16400 Lark Avenue, Suite 350, Los Gatos, CA 95032  &nbsp&nbsp|&nbsp&nbsp
                                        329 S. San Antonio Rd, Suite 9, Los Altos, CA 94022
                                        </b> </li>
                            </ul>
                        </div>
                        <div class="footer_phone ml-lg-auto">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>650-383-7679</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>